#haut
	.container
		.alert.alert-danger
			h2 Ces informations ne sont plus d'actualité, elles seront bientôt remplacées.
		.jumbotron.text-center
			img(class="img-responsive center-block", src="http://ani-grenoble.fr/ressources/img/logo_ANIGRENOBLE.png", alt="logo_ANIGRENOBLE.png")
			p Nous nous retrouvons tous les mercredis,
				br
				| de
				strong 18:00 à
				strong 20:00, dans la salle
				strong 19,
				strong 20,
				strong 21 ou
				strong 22 au premier étage de
				strong Sciences Po (IEP) Grenoble.
				br 
				| L'école science po se trouve ici:



			p Vous pouvez acceder à Science Po de différente manière:
				br
				br

				strong
					i Par bus
					| : Arrêt Universités de la ligne de bus 26.
				br
				br

				strong
					i A pied
					| : Rien de mieux qu'une randonnée dans Grenoble!
				br
				br

				strong 
					i En voiture
					| : Parkings disponible sur le campus universitaire.
				br
				br

				strong
					i Par Tram
					| : Arrêt bibliothèques universitaires des ligne B et C.
				br
				br

				strong
					i En Velo
					| : Parkings à velo a la disposition des étudiants autour de l'école.
				br
				br
#bas
	.container
		.row
			#map-outer.col-md-12
				#address.col-md-4
					h2 Position de Science Po:
					address
						strong ANI Grenoble
							br
							| 1220 Rue des Résidences
							br
							| 38400
							br
							| Saint-Martin-d'Hères
							br
							| France
							br
							|        
				#map-container.col-md-8
