#haut
	.container
		.jumbotron.text-center
			img(class="img-responsive center-block", src="http://ani-grenoble.fr/ressources/img/logo_ANIGRENOBLE.png", alt="logo_ANIGRENOBLE.png")
			p Nous nous retrouvons tous les lundis,
				br
				| de
				strong 18:00 à
				strong  20:00
				| , à l'
				strong atelier de Lily
				| .
				br 
				| L'atelier de Lily se trouve ici:



			p Vous pouvez acceder à l'atelier de différente manière:
				br
				br

				strong
					i A pied
					| : Rien de mieux qu'un peu de marche dans Grenoble!
				br
				br

				strong 
					i En voiture
					| : il est possible de se garer dans les rues avoisinantes, sinon il y a 2 parkings souterrains payants tout près de l’atelier
				br
				br

				strong
					i Par Tram
					| : Arrêt Sainte-Claire Les Halles de la ligne B.
				br
				br

				strong
					i En Velo
					| : Parkings à velo a la disposition partout dans Grenoble.
				br
				br
#bas
	.container
		.row
			#map-outer.col-md-12
				#address.col-md-4
					h2 Position de l'atelier de Lily:
					address
						strong ANI Grenoble
							br
							| 50 Rue Bayard
							br
							| 38000
							br
							| Grenoble
							br
							| France
							br
							|        
				#map-container.col-md-8
script(src="http://maps.google.com/maps/api/js?sensor=false")
