#haut
	.container
#bas
	.container.login
		.col-md-6.col-md-offset-3
			.well
				form(class="form-signin", name="login-form", method="post", action="/login")
					h3.form-signin-heading Conectez-vous s'il-vous-plaît :
					br
					.form-group
						label.col-md-4.control-label Nom d'utilisateur
						.col-md-8
							input(name="username", id="myusername", type="text", class="form-control", placeholder="Jean", autofocus)
							br
					.form-group
						label.col-md-4.control-label Mots de passe
						.col-md-8
							input(name="password", id="mypassword", type="password", class="form-control", placeholder="***")
					//The checkbox remember me is not implemented yet...
					//<label class="checkbox">
					//<input type="checkbox" value="remember-me"> Remember me
					//</label>
							br
							br
					button(name="Submit", id="submit", class="btn btn-lg btn-primary btn-block", type="submit") Connexion
