#haut
	.container
		.jumbotron.text-center
			img(class="img-responsive center-block", src="http://ani-grenoble.fr/ressources/img/logo_ANIGRENOBLE.png", alt="logo_ANIGRENOBLE.png")
			h2.text-info.text-center Bienvenue chez ANI Grenoble, le club anime des Universités de Grenoble!
			p Nous sommes une association étudiante grenobloise intéressés à la "Culture Populaire Japonaise".
				br 
				| Durant nos réunions hebdomadaire nous regardons des Animes ensemble sur grand écran généralement en japonais avec des sous-titres en français soit en anglais.
				br
				br
			p Nous avons en plus activités spécial comme:
				br
				br 
				| Quizz

				br 
				| Présentation/exposés
				br 
				| Cosplay
				br 
				| karaoke
				br 
				| Jeux vidéos japonais
				br 
				| Visual Novel
				br
				br 
				| Nous sommes ouvert à toutes personnes quelles soient étudiante ou non et si cela vous intéresse, n'hésitez pas à nous rejoindre!
				br
				br 
				| Les membres de l'ANI Grenoble. 
